<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="araelanabalon@liceovvh.cl">
    <title>Pokedex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-top">
                <img src="{{ url_for('static', filename = 'img/pokeball.jfif') }}" alt="Logo">
                <h1>Pokédex</h1>
            </div>
            <div class="nav-bottom">
                <h2>Todos los Pokémon</h2>
                <div class="nav-options">
                    <button class="see-all-btn"><i class="fa-solid fa-list-ul"></i> Ver todos</button>
                    <button class="see-5-btn"><i class="bi bi-funnel-fill"></i> Ver 5 primeros</button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            {% for pokemon in pokedex %}
            <div class="poke-card">
                <div class="poke-img">
                    <img src="{{ url_for('static', filename='img/' + pokemon.imagen) }}"
                        alt="Imagen de {{ pokemon.nombre }}">
                </div>
                <div class="poke-card-body">
                    <div class="poke-name">
                        <h2>#{{ pokemon.id }} - {{ pokemon.nombre }}</h2>
                    </div>
                    <div class="poke-types">
                        {% for tipo_individual in pokemon.tipo.split('/') %}
                        <span class="type"
                            style="background-color: {{ colores.get(tipo_individual, '#888888') }}; color: {{ texto.get(tipo_individual, '#fff') }}">
                            {{ tipo_individual }}
                        </span>
                        {% endfor %}
                    </div>
                    <div class="poke-power">
                        <div class="power">
                            <h4>Poder</h4>
                            <div class="power-bar">
                                <progress max="200" value="{{ pokemon.poder }}"></progress>
                                <span>{{ pokemon.poder }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="poke-height-weight">
                        <div class="height">
                            <h4>Altura</h4>
                            <span>{{ pokemon.altura }}</span>
                        </div>
                        <div class="weight">
                            <h4>Peso</h4>
                            <span>{{ pokemon.peso }}</span>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </main>
</body>

</html>