<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="araelanabalon@liceovvh.cl">
    <title>Inicio</title>
</head>

<body>

    <h5>Variables</h5>
    <p>Curso : {{ curso }}</p>
    <p>Ciudad : {{ ciudad }}</p>
    <p>Año : {{ anio }}</p>

    {% if profesor %}
    <p>Bienvenido profesor</p>
    {% else %}
    <p>Bienvenido estudiante</p>
    {% endif %}

    <h5>For con arreglo</h5>
    <ul>
        {% for tecnologia in tecnologias %}
        <li>{{ tecnologia }}</li>
        {% endfor %}
    </ul>

</body>

</html>

